.community-poll-choice {
    display: block;
}

.community-poll-choice .community-poll-choice-text {
    padding-right: 10px;
}

.community-poll-choice .community-poll-graph-bar {
    background-color: #000;
    height: 1em;
    border-left: 2px #000 solid;
}

.community-poll-choice .community-poll-count {
    text-align: right;
}

.community-poll-choice .community-poll-vote {
    float: right;
    margin: 0 0 0 0;
}

.community-poll-delete div {
    padding: 2px 5px 3px 5px;
    cursor: default;
    color: #7B7B7B;
    font-size: 1.3em;
}
.community-poll-delete div:hover {
    color: #000;
}
.community-poll-delete div:active {
    background-image: url(./darkdot.png);
}

.community-poll-votes div {
    cursor: default;
    background: url(./user.png) no-repeat left;
    background-position: 0 0;
    width: 23px;
    height: 25px;
}
.community-poll-votes div:hover {
    background-position: -16px 0;
}
.community-poll-votes div.active {
    background-position: -39px 0;
}

#community_poll_choices_form .votes {
    padding: 0 10px 0 10px;
    opacity: 0.6;
}

#community_poll_choices_form td {
    vertical-align: top;
}